.vv-section-container {
  padding-top: 3rem;
  padding-top: 2rem;
}

.vv-section {
  padding: 3rem 1rem;
  text-align: center;
}

.vv-section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.vv-section-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
