.accommodation-section {
    padding: 20px 20px;
}

.section-title {
   text-align: center;
}

.room-cards-container {
    /* width: 2800px;
    left: 0px;
    display: block;
    transition: all;
    transform: translate3d(0px, 0px, 0px); */
    display: none;
    position: relative;
    width: 100%
}

.room-cards-wrapper {
    width: 280px;
}

.room-cards {
    margin: 10px;
    border: 1px solid #ccc;
    padding-bottom: 10px;
}

.room-image {
    max-width: 100%;
    height: auto;
}

.room-name {
    margin-top: 20px;
}

.room-description {
    display: none;
}