.vv-navbar {
  background-color: #000;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.vv-navbar > .vv-logo-container {
  height: 55px;
  width: auto;
  position: relative;
  left: 8%;
  display: flex;
}

.vv-navbar > .vv-logo-container img {
  height: 100%;
}

.vv-navbar > .vv-nav-links {
  position: absolute;
  left: 40%;
  display: flex;
  gap: 50px;
  list-style: none;
}

.vv-navbar > .vv-nav-links li.vv-nav-li {
  margin-top:0.5rem;
}

.vv-navbar > .vv-nav-links li > a {
    color: white;
    text-decoration: none;
}